/* #### Generated By: http://www.cufonfonts.com #### */
/* @font-face {
    font-family: 'Garden Grown US B';
    font-style: normal;
    font-weight: normal;
    src: local('Garden Grown US B'), 
        url('/fonts/GardenGrownUS-B.woff') format('woff');
} */

/**MOBILE-FIRST**/

body {
    width: 100%;
    height: 100%;
}

section {
    min-height: 100vh;
    min-width: 100vw;
}

/*********FLEXBOX SECTIONS********/

.flexColCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/**********TEXT********/

h1, h2 {
    font-family: 'Devonshire', cursive;
    margin: 0;
}

h1, .main h2 {
    color: #B0BEAF;
}

h1 {
    font-size: 4em;
}

.spaceTop {
    padding-top: 15%;
}

h2 {
    font-size: 2em;
}

.recipe h2 {
    text-align: center;
}

p, li, h3 {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
}

/*********BACKGROUNDS*******/

.greenBg {
    background-color: #B0BEAF;
}

.beigeBg {
    background-color: #DCD3BD;
}

.greenBg, .beigeBg {
    color: white;
}
/*********MAIN********/

.main {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

nav .logo {
    width: 65px;
    height: 65px;
    transform: rotate(-36deg);
}

nav .menubar {
    width: 44px;
    height: 44px;
    align-self: flex-end;
}

.mainText {
    flex-grow: 1;
    margin-top: 5%;
    background-image: url("img/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 70%;
}
/*********ORIGIN********/
.originText {
    padding: 5%;
}   

/*****HEALTHY*******/
.healthy{
    text-align: center;
    margin-left:-11px;
}
.healthy h2 {
    font-size: 44px;
    padding:20px;
    margin:0px;
}
.imgHealthy{
    
    width:100%;
    height: 80vh;
    background-image: url('img/TheAvocadoOfStuff2.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position-x:-150px;
}
/*********SPECS********/
.specs {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.specs h2{
    margin:0px -15px;
    font-size: 44px;
    
    }
    .specs p{
        padding-bottom: 24px;
        padding-right: 50px;
    }
   .specsText article ul{
    padding:0px;
}
   .specsText article li{
    padding-bottom:10px;
}
    .specsText :last-child{
    margin:0px;
}
.specsText ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

.specsText ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
/*********RECIPE********/
.recipe {
    display:flex;
    flex-direction: column-reverse;
}

.recipe article img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.recipe article:first-child {
    padding: 7%;
}

.recipe h3 {
    text-transform: uppercase;
    margin: 0;
}

.recipe ul {
    padding-bottom: 5%;
}

/*********BUY********/
.buy article {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.avocados {
    width: 80%;
    display: flex;
    border: 1px solid white;
    border-radius: 15px;
    
}

.avocados img {
    width: 20%;
}
/********footer*************/
footer{
    display: flex;
    flex-direction: row;
    text-align: left;
    padding-bottom: 10px;
    border-top:1px solid black;
    width:90%;
    margin:0 auto;
}
footer h3{
    text-decoration: underline;
    margin:0px;
}
footer article{
    width:50%;
    padding-left:10px;
}
footer li{
    list-style-type: none;
    text-align: left;
}
footer ul{
    margin:0px;
    padding:0px;
}

/* Large devices*/
@media screen and (min-width: 760px) {
    .spaceTop {
        padding-top:5%;
    }
  

    /*********MAIN********/

    nav .logo {
        width: 50px;
        height: 50px;
    }
    
    nav .menubar {
        width: 30px;
        height: 30px;
    }

    .mainText {
        margin-top: 2%;
    }
    
    /*********HEALTHY********/
 
    .healthy h2{
        font-size: 55px;
    }
    .imgHealthy{
            width:100%;
            height: 85vh;
            background-image: url('img/TheAvocadoOfStuff2.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: -200px;
        } 
    
    /*********SPECS********/ 
    .specs h2{
        font-size: 70px;
    }
    .specs p{
        font-size:18px;
    }
    .specsText{
        display: flex;
        flex-direction: row;
    }
    .specsText ul li {
        font-size: 23px;
        padding: 0px 20px ;
        padding-bottom: 35px;
        width:100%;
    }
    .specsText article:first-child {
        text-align: right;
        border-right: 1px solid white;
    }
    .specsText article:first-child ul li{
     padding-bottom:48px;
    }

  
    
    /*********RECIPE********/
    .recipe {
        flex-direction: row;
    }

    .recipe article:first-child {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 5%;
    }

    .recipe article:last-child {
        width: 50%;
    }
    
    .recipe article img {
        width: 100%;
        height: 100%;
    } 
    /** contact **/
    footer{
        padding-top:10px;
    }
    footer article{
        width: 50%;
        margin:0 auto;
        border-right:1px solid black;
    }
    footer article:nth-child(2){
        border-width:0px;}
    footer h3, li {
       width:50%; 
       margin:0 auto;
       font-size:17px;
    }
}



 /*Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .imgHealthy{
       
       background-image:url("img/TheAvocadoOfStuff1.png");
        background-size:contain,cover;
        width:94%;
        background-position: 0px;
    }
}
 


