@font-face {
    font-family: 'Avocado Lime';
    src: local('Avocado & Lime'), url('fonts/Avocado & Lime.ttf') format('ttf');
}

/**MOBILE-FIRST**/
html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
}

section:not(.buy) {
    min-height: 100vh;
    min-width: 100vw;
}

/*********FLEXBOX SECTIONS********/

.flexColCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/**********TEXT********/

h1, h2 {
    font-family: 'Avocado Lime';
    font-weight: normal;
    margin: 0;
}

h1, .main h2 {
    color: #B0BEAF;
}

h1 {
    font-size: 5em;
}

.spaceTop {
    margin-top: 13%;
}

h2:not(.recipeHeading) {
    font-size: 3em;
    width: 60%;
    text-align: center;
    line-height: 1em;
}

.recipeHeading {
    text-align: center;
    margin-bottom: 5%;
    font-size: 2.5em;
}

.buy h3 {
    margin: 0 0 15%;
}

p, li, h3, button, select {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
}

/*********BACKGROUNDS*******/

.greenBg {
    background-color: #B0BEAF;
}

.beigeBg {
    background-color: #DCD3BD;
}

.greenBg, .beigeBg {
    color: white;
}
/*********MAIN********/

.main {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

nav .logo {
    width: 65px;
    height: 65px;
    transform: rotate(-36deg);
}

nav .menubar {
    width: 44px;
    height: 44px;
    align-self: flex-end;
    margin-bottom: 4%;
}

.mainText {
    flex-grow: 1;
    margin-top: 5%;
    background-image: url("img/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 70%;
}
/*********ORIGIN********/
.origin {
    color: black;
}

.originText {
    padding:5%;
}   

.more {
    background: none;
	color: inherit;
	padding: 0;
    cursor: pointer;
    outline: inherit;
    border: none;
    position: relative;
    margin: 8%;
    text-transform: uppercase;
    font-weight: 700;
}

/*****HEALTHY*******/
.healthy{
    text-align: center;
    margin-left:-11px;
}

.imgHealthy {
    width:100%;
    height: 80vh;
    background-image: url('img/TheAvocadoOfStuff2.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position-x:-150px;
    margin-top: 5%;
}

/*********SPECS********/
.specs {
    justify-content: center;
}

.specs p {
    margin: 0;
}

.specsText {
    margin-top: 10%;
}

.specsText article ul {
    padding:0px;
}

.specsText article li {
    padding-bottom:10px;
}

.specsText :last-child {
    margin:0px;
}

.specsText ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/*********RECIPE********/
.recipe {
    display:flex;
    flex-direction: column-reverse;
}

.recipe article img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: 50% 35%;
}

.recipe article:first-child {
    padding: 7%;
}

.recipe h3 {
    text-transform: uppercase;
    margin: 0;
}

.recipe ul {
    padding-bottom: 5%;
}

/*********CHOOSE AVOCADO********/
.chooseAvocado article {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5% 5% 8%;
}

.avocadoBox {
    width: 80%;
    border: 1px solid white;
    border-radius: 15px;
    margin-bottom: 5%;
}

.avocado {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.avocado:hover {
    cursor: pointer;
}

.avocado:visited {
    color: white;
}

.avocado img {
    margin-left: 5%;
    margin-bottom: 2%;
    padding-top: 5%;
    width: 20%;
}

.avocadoDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.avocadoDetail h3 {
    margin: 0;
    text-transform: uppercase;
}

.avocadoDetail h3:last-child {
    font-weight: 300;
}

/*******BUY*******/
.buy {
    justify-content: center;
    flex-grow: 1;
    min-height: 90vh;
}

.selectAmount {
    font-size:16px;
    height:44px;
    width:210px;
    border-radius: 15px;
    border: thin solid black;
    padding: 10px 25px;
    
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
} 

.selectAmount:focus {
    outline: none;
}

select {
    background-image:
        linear-gradient(45deg, transparent 50%, rgb(0, 0, 0) 50%),
        linear-gradient(135deg, rgb(0, 0, 0) 50%, transparent 50%),
        linear-gradient(to right, black,    black);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        80% -0%;
    background-size:
        5px 5px,
        5px 5px,
        1px 2.5em;
    background-repeat: no-repeat;
}

.buyButton {
    border:2px solid  #B0BEAF;
    font-size:16px;
    color:white;
    width: 149px;
    background: #B0BEAF;
    height: 44px;
    border-radius: 15px;
    text-transform: uppercase;
    margin-top: 10%;
}

.buyButton:hover {
    cursor: pointer;
}

.buyButton:active {
    border-color:#91a78f;
}

.buyButton:focus {
    outline: none;
}

/********footer*************/
footer {
    display: flex;
    flex-direction: row;
    text-align: left;
    padding-bottom: 10px;
    border-top:1px solid black;
    width:90%;
    margin:0 auto;
}

footer h3 {
    text-decoration: underline;
    margin:0px;
}

footer article {
    width:50%;
    padding-left:10px;
}

footer li {
    list-style-type: none;
    text-align: left;
}

footer ul {
    margin:0px;
    padding:0px;
}

/* Large devices*/
@media screen and (min-width: 760px) {
    .spaceTop {
        margin-top:5%;
    }

    /*********TEXT********/
    h2:not(.recipeHeading) {
        font-size: 4em;
    }

    .recipeHeading {
        text-align: left;
    }

    /*********MAIN********/
    nav .logo {
        width: 50px;
        height: 50px;
    }
    
    nav .menubar {
        width: 30px;
        height: 30px;
        margin-bottom: 0;
    }

    .mainText {
        margin-top: 2%;
    }

    /*********ORIGIN********/
    .originText {
        padding: 3% 20%;
    }   

    .more {
        margin: 4% 8%;
    }
    /*********HEALTHY********/
    .imgHealthy{
            width:100%;
            height: 85vh;
            background-image: url('img/TheAvocadoOfStuff2.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: -200px;
    } 
    
    /*********SPECS********/ 
    .specsText{
        display: flex;
        flex-direction: row;
        margin-top: 5%;
    }

    .specsText ul li {
        padding: 0px 20px ;
        padding-bottom: 35px;
        width:100%;
    }

    .specsText article:first-child {
        text-align: right;
        border-right: 1px solid white;
    }

    .specsText article:first-child ul li{
     padding-bottom:48px;
    }
    
    /*********RECIPE********/
    .recipe {
        flex-direction: row;
    }

    .recipe article:first-child {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2% 5%;
    }

    .recipe article:last-child {
        width: 50%;
    }
    
    .recipe article img {
        width: 100%;
        height: 100%;
    } 

    .recipe li {
        margin: 0;
    }

    /*********CHOOSE AVOCADO********/
    .chooseAvocado article {
        flex-direction: row;
    }

    .avocadoBox {
        width: 20%;
    }

    .avocado {
        flex-direction: column;
    }

    .avocado img {
        margin: 10% 5% 5%;
        width: 90%;
    }

    .avocadoDetail {
        padding-bottom: 15%;
    }


    /*******BUY*******/
    .buy h3 {
        margin: 0 0 5%;
    }

    .buyButton {
        margin-top: 5%;
    }

    /** contact **/
    footer {
        padding-top:10px;
    }

    footer article {
        width: 50%;
        margin:0 auto;
        border-right:1px solid black;
    }

    footer article:nth-child(2) {
        border-width:0px;
    }

    footer h3, li {
       width:50%; 
       margin:0 auto;
       font-size:17px;
    }
}

 /*Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .imgHealthy{
        background-image:url("img/TheAvocadoOfStuff1.png");
        background-size:contain,cover;
        width:94%;
        background-position: center;
    }
}
 


