/* #### Generated By: http://www.cufonfonts.com #### */
/* 

@font-face {
    font-family: 'Garden Grown US B';
    font-style: normal;
    font-weight: normal;
    src: local('Garden Grown US B'), 
        url('/Fonts/GardenGrownUS-B.woff') 
        format('woff');
} */

body {
    width: 100%;
    height: 100%;
}

section {
    min-height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav img {
    width: 50px;
}

.mainText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.greenBg {
    background-color: #DCD3BD;
}

.beigeBg {
    background-color: #B0BEAF;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

